@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  /* color-scheme: dark;  */

  --theme-color-dark: #212121;
  --theme-color-light: #bebebe25;
  
  --color1: #363447;
  --color2: #4A4556;
  --color3: #D9D9D9;
  
  --color4: linear-gradient(122deg, #DF9780 0%, #A66DE9 100%);
  --color5: linear-gradient(180deg, #90F7EC 0%, #32CCBC 100%);
  --color6: linear-gradient(180deg, #81FBB8 0%, #28C76F 100%);
  --color7: linear-gradient(122deg, #CE9FFC 0%, #7367F0 100%);
  --color8: linear-gradient(122deg, #DF9780 0%, #A66DE9 100%);
  --color9: linear-gradient(180deg, #EA5455 0%, #FEB692 100%);
  
  --color10: #1E1E1E;
  --color11: #292738;
  --color12: #81FBB8;
  
  --card-color : #023252;
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
  /* background-color: var(--theme-color-light); */
  height: 100vh;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid var(--theme-color-light);
}
main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-height: 85vh;
  /* flex-direction: column; */
  flex-grow: 5;
  flex-basis: 500;
  /* max-width: 500px; */
}

footer{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.newComponente{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer input[type="text"]{
  height: 40px;
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: #023252;
  padding: 10px;
}

footer input[type="text"]:focus{
  outline: none;
}


footer .newComponente button{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 50px;
  height: 40px;
  border: none;
  background-color: #023252;
  cursor: pointer;
}



.device {
    /* background-color: #333; */
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 7px;
    color: #ccc;
    font-weight: bold;
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.42);
}

.device input[type="datetime-local"]{
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: smaller;
  font-weight: bold;
  color: #ccc;
}

.device input[type="datetime-local"]:focus{
  
}

.device h2 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
}

.device label{
  margin: 30px;
}

.device .switch {
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: 3.5em;
 height: 1.5em;
}

.device .switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

.device .slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 transition: .4s;
 border-radius: 1rem 0rem 1rem;
}

.device .slider:before {
 position: absolute;
 content: "";
 height: 1.5em;
 width: 1.4em;
 left: 0em;
 bottom: 0em;
 background-color: white;
 transition: .4s;
 border-radius: 1rem 0rem 1rem;
 border: 3px solid white;
}

.device input:checked + .slider {
 background-color: #72eb67;
}

.device input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

.device input:checked + .slider:before {
 transform: translateX(2.2em);
 background-color: green;
 box-shadow: 0px 0px 40px 5px #72eb67;
 border: 3px solid white;
}

.device input:checked + .slider::after {
 content: "|";
 color: white;
 position: absolute;
 right: 0.3rem;
 transform: rotate(45deg);
}





.card {
  width: 180px;
  min-height: 350px;
  /* margin: 0 auto; */
  background-color: var(--card-color);
  border-radius: 10px;
  z-index: 1;
  margin: 2px;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
  cursor: pointer;
}

.yellow {
  background-color: #ffbd44;
  cursor: pointer;
}

.green {
  background-color: #00ca4e;
  cursor: pointer;
}




.ui-switch {
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input{
  display: none;
}

.ui-switch .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.ui-switch .slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.ui-switch .slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}